body {
    background-color: rgb(1, 1, 31);
    color: white;
    font-family: "Inconsolata", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 0px;
}

button {
    background-color: rgb(172, 243, 181);
    color: black;
    font-family: "Inconsolata", monospace;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}
